<div class="row">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <div class="layout-w">
        <div class="menu-w selected-menu-color-dark menu-activated-on-hover color-scheme-dark color-style-default sub-menu-color-dark menu-position-side menu-side-left menu-layout-compact sub-menu-style-flyout"
          style="min-height: 100vh;">
          <div class="logo-w">
            <a class="logo" href="index.html">
              <div class="logo-element"></div>
              <div class="logo-label">
                Clean Admin
              </div>
            </a>
          </div>
          <app-user-nav></app-user-nav>
          <app-sidebar-search></app-sidebar-search>
          <ul class="main-menu">
            <li>
              <a routerLink="/">
                <div class="icon-w">
                  <i class="fal fa-tachometer-alt"></i>
                </div>
                Dashboard
              </a>
            </li>
            <li class="has-sub-menu">
              <a class="pointer">
                <div class="icon-w">
                  <i class="fal fa-graduation-cap"></i>
                </div>
                <span>Categories</span>
              </a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">Categories</div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a [routerLink]="['/category/category-list']">Search a categories</a>
                    </li>
                    <li>
                      <a [routerLink]="['/category/category-create']">Create a category</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="has-sub-menu">
              <a class="pointer" [routerLink]="['/film/film-list']">
                <div class="icon-w">
                  <i class="fal fa-book"></i>
                </div>
                <span>Films</span>
              </a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">Films</div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a [routerLink]="['/film/film-list']">Search a film</a>
                    </li>
                    <li>
                      <a [routerLink]="['/film/film-create']">Create a film</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="has-sub-menu">
              <a class="pointer" [routerLink]="['/episode/episode-list']">
                <div class="icon-w">
                  <i class="fal fa-book"></i>
                </div>
                <span>Episodes</span>
              </a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">Episodes</div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a [routerLink]="['/episode/episode-list']">Search an episode</a>
                    </li>
                    <li>
                      <a [routerLink]="['/episode/episode-create']">Create an episode</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="has-sub-menu">
              <a class="pointer" [routerLink]="['/post/post-list']">
                <div class="icon-w">
                  <i class="fal fa-book"></i>
                </div>
                <span>News</span>
              </a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">News</div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a [routerLink]="['/film/film-list']">Search a post</a>
                    </li>
                    <li>
                      <a [routerLink]="['/film/film-create']">Create a post</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="content-w">
          <app-breadcrumb></app-breadcrumb>
          <div class="content-i">
            <div class="content-box">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
