<div class="element-box mb-0">
  <div class="form-group">
    <label for="urlCustomLink">Url</label>
    <input id="urlCustomLink" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="linktextCustomLink">Link text</label>
    <input id="linktextCustomLink" type="text" class="form-control">
  </div>
  <div class="form-buttons-w text-right" id="group-button-action">
    <button class="btn btn-secondary" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</div>
