<div class="modal fade" bsModal #mediaPickerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" id="modal-preview-assets-storage">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Choose your assets</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="mediaPickerModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex min-heigh-min-content mb-2">
          <div class="btn-group mr-2">
            <button class="btn btn-primary btn-sm">
              <i class="fal fa-plus"></i>
              <span>Upload</span>
            </button>
          </div>
          <app-search-input class="w-100"></app-search-input>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card h-100">
              <div class="card-header">Asset Type</div>
              <div class="card-body p-0">
                <div class="card-item box-shadow cursor-pointer">
                  <i class="fal fa-layer-group"></i>
                  <span>Audio</span>
                </div>
                <div class="card-item box-shadow cursor-pointer">
                  <i class="fal fa-layer-group"></i>
                  <span>Audio</span>
                </div>
                <div class="card-item box-shadow cursor-pointer">
                  <i class="fal fa-layer-group"></i>
                  <span>Audio</span>
                </div>
                <div class="card-item box-shadow cursor-pointer">
                  <i class="fal fa-layer-group"></i>
                  <span>Audio</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 pl-md-0">
            <div class="card h-100">
              <div class="card-header">Library</div>
              <div class="card-body p-0"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary min-width-150">Choose</button>
        <button class="btn btn-white">Cancel</button>
      </div>
    </div>
  </div>
</div>
