<div class="all-wrapper solid-bg-all">
  <div class="top-bar d-none color-scheme-dark">
    <div class="top-menu-controls">
      <div class="element-search autosuggest-search-activator">
        <input placeholder="Start typing to search..." type="text">
      </div>
      <div class="logged-user-w">
        <div class="logged-user-i">
          <div class="avatar-w">
            <img alt="" src="../../../../assets/imgs/avatar.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-with-suggestions-w">
    <div class="search-with-suggestions-modal">
      <div class="element-search">
        <input class="search-suggest-input" placeholder="Start typing to search..." type="text">
        <div class="close-search-suggestions">
          <i class="os-icon os-icon-x"></i>
        </div>
      </div>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</div>
