<div class="menu-item-box ml-3 mt-3 mr-3">
  <app-data-table class="small" #dataTable noResultsIconClass="fal fa-rocket" noResultsMessage="No sesssions available"
    [noTopMenu]="false">
    <thead>
      <tr>
        <th class="w-5">#</th>
        <th>Title</th>
        <th class="text-center w-10">Action</th>
      </tr>
    </thead>
    <tbody class="w-100">
      <tr *ngFor="let item of dataTable.items; let index = index">
        <td class="w-5">{{index+1}}</td>
        <td>{{item.title}}</td>
        <td class="text-center w-10">
          <button class="btn btn-sm btn-link" (click)="onSelectCategory(item.id)">Select</button>
        </td>
      </tr>
    </tbody>
  </app-data-table>
</div>
