#remove-thumbnail-episode {
  bottom: -31px;
  right: 6px;
}

#group-button-action {
  margin-top: 60px;
}

#film-name {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#btnRemoveFilmName {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
