<div class="row">
  <div class="col-xl-6 col-lg-8 col-md-10 mx-auto">
    <div class="element-wrapper">
      <div class="element-box">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
          <h5 class="form-header">Create a film</h5>
          <div class="form-desc"></div>
          <div class="form-group">
            <label for="film-name">Film name</label>
            <input type="text" id="film-name" class="form-control" placeholder="Enter film name" formControlName="title">
          </div>
          <div class="form-group">
            <label for="film-description">Description</label>
            <div redactor id="film-description" [redactorOptions]="{ minHeight: '100px', maxHeight: '100px' }" formControlName="description"></div>
          </div>
          <div class="form-group">
            <label for="film-content">Content</label>
            <div redactor id="film-content" [redactorOptions]="{ minHeight: '300px', maxHeight: '300px' }" formControlName="content"></div>
          </div>
          <div class="form-group position-relative">
            <label for="film-thumbnail">Thumbnail</label>
            <input type="text" id="film-thumbnail" class="form-control position-absolute" placeholder="Select thumbnail"
              (click)="previewAssetsStorage.open(fileType.image)">
            <button class="btn btn-sm btn-danger position-absolute" id="remove-thumbnail-film">Remove</button>
          </div>
          <div class="form-group mt-5" id="preview-film-thumbnail-image" *ngIf="isHidePreviewFilmThumbnailImage">
            <img src="../../../../assets/imgs/empty-image.png">
          </div>
          <div class="form-buttons-w text-right" id="group-button-action">
            <button class="btn btn-secondary" type="button">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-preview-assets-storage #previewAssetsStorage (selected)="onSelectAsset($event)"></app-preview-assets-storage>
