<div class="modal fade" bsModal #filmSetCategory="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="dialog-static-name" class="modal-title pull-left">Static modal</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="filmSetCategory.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-data-table #datatableCategories noResultsIconClass="fal fa-rocket" noResultsMessage="No sesssions available" [noTopMenu]="false">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Category name</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datatableCategories.items; let index = index">
              <td class="text-center">{{index+1}}</td>
              <td>{{item.title}}</td>
              <td class="text-center">
                <input type="checkbox" [id]="item.id" (change)="setCategory(item.id)">
              </td>
            </tr>
          </tbody>
        </app-data-table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary" (click)="onSubmit()">Save</button>
      </div>
    </div>
  </div>
</div>
