.vuighe-tree-view {
  .tree-children.tree-children-no-padding {
    padding-left: 0
  }

  .tree-children {
    padding-left: 20px;
    overflow: hidden
  }

  .node-drop-slot {
    display: block;
    height: 4px;
    margin-bottom: 2px;
  }

  .node-drop-slot.is-dragging-over {
    background: #fafafa;
    height: 20px;
    border: 2px dotted #047bf8;
  }

  .toggle-children-wrapper-expanded .toggle-children {
    transform: rotate(90deg)
  }

  .toggle-children-wrapper-collapsed .toggle-children {
    transform: rotate(0);
  }

  .toggle-children-wrapper {
    padding: 2px 3px 5px 1px;
  }

  /* tslint:disable */
  .toggle-children {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABAhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ1dWlkOjY1RTYzOTA2ODZDRjExREJBNkUyRDg4N0NFQUNCNDA3IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkYzRkRFQjcxODUzNTExRTU4RTQwRkQwODFEOUZEMEE3IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkYzRkRFQjcwODUzNTExRTU4RTQwRkQwODFEOUZEMEE3IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MTk5NzA1OGEtZDI3OC00NDZkLWE4ODgtNGM4MGQ4YWI1NzNmIiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6YzRkZmQxMGMtY2NlNS0xMTc4LWE5OGQtY2NkZmM5ODk5YWYwIi8+IDxkYzp0aXRsZT4gPHJkZjpBbHQ+IDxyZGY6bGkgeG1sOmxhbmc9IngtZGVmYXVsdCI+Z2x5cGhpY29uczwvcmRmOmxpPiA8L3JkZjpBbHQ+IDwvZGM6dGl0bGU+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+5iogFwAAAGhJREFUeNpiYGBgKABigf///zOQg0EARH4A4gZyDIIZ8B/JoAJKDIDhB0CcQIkBRBtEyABkgxwoMQCGD6AbRKoBGAYxQgXIBRuZGKgAKPIC3QLxArnRSHZCIjspk52ZKMrOFBUoAAEGAKnq593MQAZtAAAAAElFTkSuQmCC');
    height: 8px;
    width: 9px;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: -1px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .toggle-children-placeholder {
    display: inline-block;
    height: 10px;
    width: 14px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }

  .node-content-wrapper {
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.1rem 0.35rem;
    border-radius: 4px;
  }

  .node-wrapper {
    display: inline-flex;
    align-items: flex-start;
  }

  .node-content-wrapper-active,
  .node-content-wrapper.node-content-wrapper-active:hover,
  .node-content-wrapper-active.node-content-wrapper-focused {
    background: #047bf8;
    color: #fff;
    padding: 0.1rem 0.35rem;

    i {
      color: #fff;
    }
  }

  .node-content-wrapper-focused {
    background: lighten(#047bf8, 5%);
    color: #fff;

    i {
      color: #fff;
    }
  }

  .node-content-wrapper:hover {
    background: lighten(#047bf8, 15%);
    color: #fff;

    i {
      color: #fff;
    }
  }

  .node-content-wrapper-active,
  .node-content-wrapper-focused,
  .node-content-wrapper:hover {
    box-shadow: inset 0 0 1px #999;
  }

  .node-content-wrapper.is-dragging-over {
    background: lighten(#047bf8, 5%);
    box-shadow: inset 0 0 1px #999;
  }

  .node-content-wrapper.is-dragging-over-disabled {
    opacity: 0.5
  }

  tree-viewport {
    height: 100%;
    overflow: auto;
    display: block;
  }

  .tree-children {
    padding-left: 20px
  }

  .empty-tree-drop-slot .node-drop-slot {
    height: 20px;
    min-width: 100px
  }

  .angular-tree-component {
    width: 100%;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently not supported by any browser */
  }

  tree-root .angular-tree-component-rtl {
    direction: rtl;
  }

  tree-root .angular-tree-component-rtl .toggle-children-wrapper-collapsed .toggle-children {
    transform: rotate(180deg) !important;
  }

  tree-root .angular-tree-component-rtl .tree-children {
    padding-right: 20px;
    padding-left: 0;
  }

  tree-node-checkbox {
    padding: 1px;
  }

  .node-content-wrapper,
  .tree-children {
    position: relative;
  }

  .node-content-wrapper::before,
  .tree-children::after {
    content: "";
    position: absolute;
  }

  .node-content-wrapper::before {
    border-bottom: 1px dotted lightgrey;
    border-left: 1px dotted lightgrey;
    height: 28px;
    top: -17px;
    width: 20px;
    left: -28px;
  }

  .tree-node-level-1>tree-node-wrapper>.node-wrapper>.node-content-wrapper::before {
    display: none;
  }

  .tree-node-leaf>.node-wrapper>.node-content-wrapper::before {
    width: 25px;
  }

  .tree-children::after {
    border-left: 1px solid lightgrey;
    height: 100%;
    top: -15px;
    left: -15px;
  }

  tree-node:last-child>.tree-node>.tree-children::after {
    border-left: none;
  }

  .toggle-children {
    z-index: 1;
  }

  .path-steps-tree {
    .node-wrapper {
      display: flex;
    }

    .node-content-wrapper::before {
      display: none;
    }

    .tree-children {
      padding-left: 0;
    }

    .tree-node-level-1 {
      margin-bottom: 20px;
    }

    *,
    *:focus {
      outline: none !important;
    }

    .node-wrapper-step {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 500;

      &:hover {
        .node-content-wrapper .step-name {
          &:before {
            opacity: 1;
          }
        }
      }

      .node-content-wrapper {
        font-size: 0.9rem;
        background-color: #384362;
        color: #fff;
        display: block;
        width: 100%;
        padding: 14px 10px 14px 25px;
        border: none;
        display: flex;
        align-items: center;

        .step-name {
          flex: 1;
          display: flex;
          align-items: center;

          &:before {
            content: '\f0c9';
            font-family: 'Font Awesome 5 Pro';
            margin-left: -15px;
            margin-right: 10px;
            opacity: 0;
            transition: ease-in-out 200ms;
            font-weight: 300;
            cursor: move;
          }
        }

        &:hover {
          background-color: lighten(#384362, 5%);
        }

        .toggle-children-wrapper {
          padding: 2px 3px 5px 1px;
          display: flex;
          align-items: center;
          justify-content: center;

          .toggle-children {
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            line-height: 0;
            height: auto;
            width: auto;
            top: auto;

            &::after {
              content: '\f107';
              font-family: 'Font Awesome 5 Pro';
            }
          }
        }

        .toggle-children-wrapper-expanded .toggle-children {
          transform: rotate(180deg);
        }
      }

      .node-content-wrapper-active,
      .node-content-wrapper.node-content-wrapper-active:hover,
      .node-content-wrapper-active.node-content-wrapper-focused,
      .node-content-wrapper-focused {
        background: #047bf8;

        &:hover {
          background-color: lighten(#047bf8, 3%);
        }
      }
    }

    .node-wrapper-activity {
      background-color: #fff;

      tree-node-expander {
        display: none;
      }

      &:hover {
        .node-content-wrapper .activity-name {
          &:before {
            opacity: 1;
          }
        }
      }

      .node-content-wrapper {
        padding: 5px 10px 5px 25px;
        font-size: 0.8rem;
        width: 100%;

        &::before {
          display: none;
        }

        .activity-name {
          display: flex;
          font-weight: 500;

          &:before {
            content: '\f0c9';
            font-family: 'Font Awesome 5 Pro';
            margin-left: -15px;
            margin-right: 10px;
            opacity: 0;
            transition: ease-in-out 200ms;
            font-weight: 300;
            cursor: move;
          }
        }
      }

      .activity-metadata {
        color: #999;

        small {
          font-size: 0.72rem;
        }
      }

      .node-content-wrapper-active,
      .node-content-wrapper.node-content-wrapper-active:hover,
      .node-content-wrapper-active.node-content-wrapper-focused,
      .node-content-wrapper-focused {
        background: #047bf8;
        color: #fff;

        .activity-metadata {
          color: #fff;
        }

        &:hover {
          background-color: lighten(#047bf8, 3%) !important;
          color: #fff !important;

          .activity-metadata {
            color: #fff !important;
          }
        }
      }

      .node-content-wrapper:hover {
        box-shadow: none;
        color: #047bf8;
        background: #fff;

        .activity-metadata {
          color: #047bf8;
        }
      }
    }

    .node-wrapper-new-activity {
      .node-content-wrapper {
        display: block;
        width: 100%;
        background: none;
        box-shadow: none;
        padding: 2px 4px;
      }
    }
  }
}

.tree-container {
  padding: 20px;
  background-color: #fafafa;
  border: solid 1px #eee;
}
